[submodule "backend"]
	path = code/backend
	url = https://github.com/tarlepp/angular-sailsjs-boilerplate-backend.git
[submodule "frontend"]
	path = code/frontend
	url = https://github.com/tarlepp/angular-sailsjs-boilerplate-frontend.git
